In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
credit_data = pd.read_csv('/content/creditcard.csv')

In [6]:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [7]:
credit_data.shape

(91200, 31)

In [15]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91200 entries, 0 to 91199
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    91200 non-null  int64
 1   V1      91200 non-null  float64
 2   V2      91200 non-null  float64
 3   V3      91200 non-null  float64
 4   V4      91200 non-null  float64
 5   V5      91200 non-null  float64
 6   V6      91200 non-null  float64
 7   V7      91200 non-null  float64
 8   V8      91200 non-null  float64
 9   V9      91200 non-null  float64
 10  V10     91200 non-null  float64
 11  V11     91200 non-null  float64
 12  V12     91200 non-null  float64
 13  V13     91200 non-null  float64
 14  V14     91200 non-null  float64
 15  V15     91199 non-null  float64
 16  V16     91199 non-null  float64
 17  V17     91199 non-null  float64
 18  V18     91199 non-null  float64
 19  V19     91199 non-null  float64
 20  V20     91199 non-null  float64
 21  V21     91199 non-null  float64
 22  V22     91199 non-null  float64
 23  V23     91199 non-null  float64
 24  V24     91199 non-null  float64
 25  V25     91199 non-null  float64
 26  V26     91199 non-null  float64
 27  V27     91199 non-null  float64
 28  V28     91199 non-null  float64
 29  Amount  91199 non-null  float64
 30  Class   91199 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 21.6 MB

In [21]:
credit_data.drop(labels=credit_data.index[91199])

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91194,63352,0.940522,-1.147199,0.661306,-1.304868,-1.375714,-0.118233,-0.795573,0.291920,1.922489,...,0.249461,0.616547,-0.178609,0.065129,0.279183,0.118563,0.023114,0.028163,130.00,0.0
91195,63353,-0.490895,1.107765,1.502218,0.848157,0.424492,-0.116355,0.801624,0.093389,-1.189178,...,0.145558,0.422849,-0.246593,0.229489,0.107284,-0.263054,0.110716,0.094024,4.99,0.0
91196,63353,1.263123,-0.735270,-0.001407,-0.796592,-0.759490,-0.369354,-0.406820,-0.057882,-1.063382,...,-0.545363,-1.335962,0.035395,-0.359533,0.081162,0.835179,-0.081592,0.004941,79.38,0.0
91197,63354,-0.223639,1.073431,1.331846,0.463195,0.135678,-0.881074,0.708761,-0.181839,-0.726279,...,-0.143288,-0.387236,0.056717,0.371521,-0.702896,0.084805,0.140208,0.177478,6.99,0.0
91198,63354,1.135869,-1.278531,0.076387,-0.002852,0.679808,4.766929,-1.836080,1.259028,0.439912,...,-0.508605,-0.798310,-0.081020,0.996750,0.571672,-0.268628,0.118991,0.046959,75.00,0.0

In [22]:
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
credit_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,91200.000000,91200.000000,91200.000000,91200.000000,91200.000000,91200.000000,91200.000000,91200.000000,91200.000000,91200.000000,...,91199.000000,91199.000000,91199.000000,91199.000000,91199.000000,91199.000000,91199.000000,91199.000000,91199.000000,91199.000000
mean,40218.724474,-0.263489,-0.040218,0.677104,0.162761,-0.279624,0.094647,-0.108948,0.054542,-0.033586,...,-0.029791,-0.107291,-0.037484,0.009603,0.132399,0.027111,0.001449,0.002511,98.836868,0.002314
std,16208.216858,1.871579,1.662459,1.347185,1.357217,1.370698,1.303795,1.228957,1.214456,1.125841,...,0.727355,0.635203,0.626381,0.594322,0.441172,0.496222,0.389847,0.325301,268.042772,0.048045
min,0.000000,-56.407510,-72.715728,-33.680984,-5.172595,-42.147898,-26.160506,-31.764946,-73.216718,-9.283925,...,-34.830382,-10.933144,-26.751119,-2.836627,-7.495741,-2.534330,-9.390980,-9.617915,0.000000,0.000000
25%,32437.750000,-1.028050,-0.605011,0.180264,-0.718001,-0.898175,-0.646850,-0.601624,-0.139681,-0.694838,...,-0.224139,-0.527338,-0.177541,-0.321921,-0.132304,-0.325760,-0.063155,-0.005671,7.610000,0.000000
50%,42416.000000,-0.259193,0.072606,0.758381,0.186746,-0.313804,-0.156329,-0.070197,0.071889,-0.105892,...,-0.057803,-0.082281,-0.049619,0.064768,0.171213,-0.070650,0.009497,0.023228,26.980000,0.000000
75%,52976.250000,1.152942,0.727724,1.383181,1.035486,0.252585,0.488617,0.415907,0.355994,0.582092,...,0.119049,0.309107,0.081231,0.405899,0.420183,0.305754,0.082692,0.076445,89.980000,0.000000
max,63354.000000,1.960497,18.902453,4.226108,16.715537,34.801666,22.529298,36.677268,20.007208,10.392889,...,22.614889,10.503090,18.946734,4.014444,5.541598,3.517346,12.152401,33.847808,19656.530000,1.000000

In [30]:
credit_data.drop(['Time'], axis=1)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91195,-0.490895,1.107765,1.502218,0.848157,0.424492,-0.116355,0.801624,0.093389,-1.189178,-0.114383,...,0.145558,0.422849,-0.246593,0.229489,0.107284,-0.263054,0.110716,0.094024,4.99,0.0
91196,1.263123,-0.735270,-0.001407,-0.796592,-0.759490,-0.369354,-0.406820,-0.057882,-1.063382,0.820246,...,-0.545363,-1.335962,0.035395,-0.359533,0.081162,0.835179,-0.081592,0.004941,79.38,0.0
91197,-0.223639,1.073431,1.331846,0.463195,0.135678,-0.881074,0.708761,-0.181839,-0.726279,-0.537532,...,-0.143288,-0.387236,0.056717,0.371521,-0.702896,0.084805,0.140208,0.177478,6.99,0.0
91198,1.135869,-1.278531,0.076387,-0.002852,0.679808,4.766929,-1.836080,1.259028,0.439912,0.453478,...,-0.508605,-0.798310,-0.081020,0.996750,0.571672,-0.268628,0.118991,0.046959,75.00,0.0
91199,-5.923850,5.078018,-3.223655,1.053491,-3.230265,-0.405473,-2.966812,4.288420,0.272339,0.912829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
credit_data['V28']

0       -0.021053
1        0.014724
2       -0.059752
3        0.061458
4        0.215153
           ...
91195    0.094024
91196    0.004941
91197    0.177478
91198    0.046959
91199         NaN
Name: V28, Length: 91200, dtype: float64

In [23]:
credit_data['Class'].value_counts()

0.0    90988
1.0      211
Name: Class, dtype: int64

This dataset is unbalanced



1.   0 = Normal Transaction
2.   1 = Fradulent Transaction

In [24]:
# seperating he data for analysis
legit = credit_data[credit_data.Class == 0]
fraud = credit_data[credit_data.Class == 1]

In [25]:
legit.shape

(90988, 31)

In [26]:
fraud.shape

(211, 31)

In [27]:
# statistical measures of data
legit['Amount'].describe()

count    90988.000000
mean        98.818600
std        268.099598
min          0.000000
25%          7.680000
50%         26.990000
75%         89.950000
max      19656.530000
Name: Amount, dtype: float64

In [29]:
fraud['Amount'].describe()

count     211.000000
mean      106.714360
std       242.747461
min         0.000000
25%         1.000000
50%         7.580000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [31]:
# compare the values for both classes
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,40230.429804,-0.249493,-0.050385,0.697890,0.151442,-0.269732,0.099266,-0.093956,0.047981,-0.026713,...,0.041650,-0.031578,-0.107221,-0.037023,0.009862,0.132208,0.026954,0.000189,0.002419,98.81860
1.0,35061.473934,-6.271827,4.319926,-8.267835,5.039289,-4.531270,-1.894723,-6.560321,2.863511,-2.998676,...,0.373573,0.740737,-0.137542,-0.236394,-0.102067,0.214617,0.094634,0.544401,0.042124,106.71436

## **Under_sampling**

Build a sample dataset containing similar distribution of normal transactions and fradulent transactions

Number of fradulnt transactions = 211

In [32]:
legit_sample = legit.sample(n=211)

Concatenating 2 dataframes

In [33]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [34]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
77937,57288,-1.102829,0.904073,2.083212,1.456899,0.657270,1.083397,0.318322,0.481334,-0.794226,...,0.079519,0.228566,-0.272630,-0.294100,0.490725,0.015723,-0.296399,-0.014614,1.64,0.0
2689,2227,1.376847,-0.700875,0.969338,-0.431779,-1.457772,-0.521672,-0.990436,-0.045241,-0.128608,...,0.269444,0.948143,-0.147365,0.451116,0.608122,-0.003026,0.044280,0.018527,3.70,0.0
13824,24510,1.111137,0.058045,0.017382,1.249269,0.478713,0.871117,-0.107408,0.130760,1.436603,...,-0.250881,-0.396494,-0.247106,-1.195331,0.737363,-0.300690,-0.003573,-0.004416,58.00,0.0
12516,21904,0.948924,-1.415743,1.236748,-0.233827,-2.020850,-0.433737,-1.225444,-0.023265,1.280485,...,0.397195,0.818810,-0.238974,0.356546,0.171350,-0.099631,-0.016900,0.060654,221.13,0.0
79495,58046,-0.929248,-1.631505,2.219688,-1.408530,-0.834184,0.618452,-0.752711,0.249312,-2.380323,...,0.176260,0.612091,0.228379,-0.342694,-0.032633,0.091542,-0.097384,-0.135992,154.00,0.0

In [35]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
88258,62059,-1.644403,3.129852,-2.576977,3.415573,-0.448525,-1.241893,-1.991652,1.002665,-2.809071,...,0.417762,-0.648576,-0.318617,-0.680413,0.389869,0.055750,0.394682,0.298821,6.62,1.0
88307,62080,-1.599457,2.607720,-2.987193,3.064156,-2.497914,-0.541103,-2.277786,1.268166,-1.997331,...,0.662933,0.184087,-0.089452,-0.506000,-0.062259,-0.052714,0.322854,0.135268,180.00,1.0
88876,62330,1.140865,1.221317,-1.452955,2.067575,0.854742,-0.981223,0.325714,-0.037721,0.113219,...,-0.377597,-0.793460,-0.132333,-0.331586,0.664878,-0.309312,0.099942,0.122988,1.00,1.0
88897,62341,-5.267760,2.506719,-5.290925,4.886134,-3.343188,-1.100085,-5.810509,1.726343,-0.749277,...,0.764266,0.473262,0.548482,-0.156850,-0.710187,-0.366423,-1.486766,0.677664,1.10,1.0
89190,62467,-5.344665,-0.285760,-3.835616,5.337048,-7.609909,3.874668,1.289630,0.201742,-3.003532,...,0.276011,1.342045,-1.016579,-0.071361,-0.335869,0.441044,1.520613,-1.115937,1402.16,1.0

In [38]:
new_dataset['Class'].value_counts()

0.0    211
1.0    211
Name: Class, dtype: int64

In [39]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,39933.739336,-0.109442,-0.071020,0.750293,0.153049,-0.271723,0.016608,-0.024153,-0.037187,-0.135267,...,-0.003526,0.016482,-0.104620,-0.041765,0.057756,0.102057,0.075230,-0.033102,-0.017092,91.355118
1.0,35061.473934,-6.271827,4.319926,-8.267835,5.039289,-4.531270,-1.894723,-6.560321,2.863511,-2.998676,...,0.373573,0.740737,-0.137542,-0.236394,-0.102067,0.214617,0.094634,0.544401,0.042124,106.714360

In [41]:
# splitting the datset into features and target
x = new_dataset.drop(['Class', 'Time'], axis=1)
y = new_dataset['Class']

In [42]:
x.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
77937,-1.102829,0.904073,2.083212,1.456899,0.657270,1.083397,0.318322,0.481334,-0.794226,0.127194,...,-0.326021,0.079519,0.228566,-0.272630,-0.294100,0.490725,0.015723,-0.296399,-0.014614,1.64
2689,1.376847,-0.700875,0.969338,-0.431779,-1.457772,-0.521672,-0.990436,-0.045241,-0.128608,0.470643,...,0.061950,0.269444,0.948143,-0.147365,0.451116,0.608122,-0.003026,0.044280,0.018527,3.70
13824,1.111137,0.058045,0.017382,1.249269,0.478713,0.871117,-0.107408,0.130760,1.436603,-0.338845,...,-0.103106,-0.250881,-0.396494,-0.247106,-1.195331,0.737363,-0.300690,-0.003573,-0.004416,58.00
12516,0.948924,-1.415743,1.236748,-0.233827,-2.020850,-0.433737,-1.225444,-0.023265,1.280485,0.152213,...,0.402071,0.397195,0.818810,-0.238974,0.356546,0.171350,-0.099631,-0.016900,0.060654,221.13
79495,-0.929248,-1.631505,2.219688,-1.408530,-0.834184,0.618452,-0.752711,0.249312,-2.380323,1.390809,...,0.316611,0.176260,0.612091,0.228379,-0.342694,-0.032633,0.091542,-0.097384,-0.135992,154.00

In [43]:
y.head()

77937    0.0
2689     0.0
13824    0.0
12516    0.0
79495    0.0
Name: Class, dtype: float64

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=3, stratify=y)

In [45]:
model = LogisticRegression()

In [46]:
model.fit(x_train, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [47]:
training_prediction = model.predict(x_train)

In [48]:
score1 = accuracy_score(y_train, training_prediction)
print(f"Training model accuracy : {score1}")

Training model accuracy : 0.9815303430079155

In [49]:
test_prediction = model.predict(x_test)
score2 = accuracy_score(y_test, test_prediction)
print(f"Testing model accuracy : {score2}")

Testing model accuracy : 0.9767441860465116

In [59]:
c = -2.53585211738111,5.79364414692454,-7.61846283574893,6.39582974649419,-0.0652101046678037,-3.13637196409103,-3.10455736262141,1.82323263760971,-3.87865758023391,-7.29780335001461,7.07166913682445,-10.001046368327,-0.207934540884304,-10.8606980453666,-1.69082504118249,-2.36085672411086,-2.76009701528795,0.29810341564323,-1.38555780172735,0.408704184487524,0.716719907055995,-0.448059938458541,-0.402406878680357,-0.288835222564699,1.01175223958707,0.425964621387216,0.413139555823146,0.308204656968305,1
x = np.array(c)

In [60]:
v = x.reshape(1,-1)
prediction = model.predict(v)
print(prediction)

[1.]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(